

<header class="header">
            <!-- side navbar start  -->
            <div class="ml" id="ml">

                <div id="mySidenav" class="sidenav">
                    <img src="img/logo.png" alt="logo">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="/">Home</a>
                    <a href="/courses" onclick="clickcourses()" onclick="clickon()">Courses &nbsp </a>
                    <a href="/job-portal.hbs">Jobs &nbsp</a>
                    <a href="/about.hbs">About</a> 
                    <a href="/contact.hbs">Contact</a>
                    <a href="/logout">{{logout}}</a>
                    <a href="/admin_panel">Admin_panel</a>

                </div>
                        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
            </div>
            <!-- side menu END  -->
            <form action="#" method="post">
                <span class="icon">
                    <img src="img/logo.png" alt="logo">
                </span>
                <div class="btn">
                    <div id="sign-in"><a href={{link1}}>{{msg1}}</a></div>
                    <div id="sign-in"><a href={{link2}}>{{msg2}}</a></div>
                </div>

                <div class="clearfx"></div>

            </form>

</header>

        